table, td {
    border: 1px solid black;
  }
thead td{
    border: none;
    background-color: #F5EDD9;
}

td{
    padding: 1rem 5rem;
}
.attendance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}